@charset "UTF-8";

.button-box{
  display: flex;
  justify-content: center;
}

.button{
  display: inline-block;
  margin: 0 15px;
  line-height: 50px;
  padding: 0 15px;
  border-radius: 10px;
  cursor: pointer;
}

.red{
  color: #fff;
  background: #fd0f0fd9;
}

.blue{
  color: #fff;
  background: #170ffdd9;
}

.green{
  color: #000;
  background: #0ffd0fd9;
}



.red-box{
  color: #fff;
  background: #fd0f0fd9;
  box-shadow: 0 5px 0 0 rgba(63,5,50.851);
}

.blue-box{
  color: #fff;
  background: #170ffdd9;
  box-shadow: 0 5px 0 0 rgba(5,13,63,0.851);
}

.green-box{
  color: #000;
  background: #0ffd0fd9;
  box-shadow: 0 5px 0 0 rgba(5,63,5,0.851);
}




.red-b{
  color: #fff;
  background: #fd0f0fd9;
  box-shadow: 0 5px 0 0 rgba(63,5,50.851);
  transition: .1s;
}

.red-b:active{
  transform: translate(0,5px);
  box-shadow: none;
}

.blue-b{
  color: #fff;
  background: #170ffdd9;
  box-shadow: 0 5px 0 0 rgba(5,13,63,0.851);
  transition: .1s;
}

.blue-b:active{
  transform: translate(0,5px);
  box-shadow: none;
}

.green-b{
  color: #000;
  background: #0ffd0fd9;
  box-shadow: 0 5px 0 0 rgba(5,63,5,0.851);
}

.green-b:active{
  transform: translate(0,5px);
  box-shadow: none;
}


.border-box{
  color: #67c5ff;
  border: 4px double #67c5ff;
  transition: all  0.3s ease;
}

.border-box:hover{
  background-color:#fffbef;
}


.ten-box{
  color: #67c5ff;
  border: 4px dotted #75caff;
}

.ten-box:hover{
  border: 4px dashed #75caff;
}


.lightblue-box{
  color: #0079a5f8;
  background: #d0edfff8;
  border: 4px dashed #67c5ff;
  transition: all  0.5s ease;
}

.lightblue-box:hover{
  color: #67c5ff;
  background: #ffffff;
}


